.manage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9de4e;
}

.manageP {
  font-family: "Inter";
  font-size: 150%;
  margin-left: 3%;
}

.manageImg {
  width: 50%;
  margin-right: 2%;
}
